body {
    background: rgba(37, 43, 55);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h3 {
    text-transform: capitalize;
}
.user-header {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-header h1 {
    margin: 0;
    font-size: 2rem;
}

.header-actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logout-btn {
    background: rgba(231, 76, 60, 0.68);
    border : 1px solid #e74c3c;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.logout-btn:hover {
    background: #c0392b;
}

.user-main {
    padding: 20px;
}

.stations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.station-card {
    background: rgb(33, 40, 56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}
.station-card > *{
    color: white;
}

.station-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.station-card h3 {
    margin-top: 0;
}


.user-location-search-container{
    display: flex;
    gap:10px;
}

.station-card h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.distance-btn {
    margin-top: 10px;
    background: rgb(57, 94, 255);
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}



select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgb(57, 94, 255);
    font-size: 12px;
}

.update-my-location{
    margin-bottom: 20px;
}

select option:first-child {
    color: #999;
    font-style: italic;
}

select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

select:focus {
    border-color: rgb(57, 94, 255);
    box-shadow: 0 0 12px rgba(41, 128, 185, 0.5);
    outline: none;
}

select:hover {
    border-color: rgb(42, 67, 189);
    box-shadow: 0 0 8px rgba(41, 128, 185, 0.3);
}

.distance-btn:hover {
    background: rgb(42, 67, 189);
}

@media (max-width: 768px) {
    .station-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .station-card {
        width: 100%;
    }
}
